#label{
    font-weight: bold;
    font-size: 20px;
}
#confidence{
    font-weight: bold;
    font-size: 20px;
}
#show_sketch{
    float: right;
}
body{
    background-color: chartreuse;
}
h1{
    background-color: aqua;
    font-weight: bold;
}
#Score{
float: left;
font-weight: bold;
font-size: 20px;
}
#Timer{
float: right ;
font-weight:bold;
font-size: 20px;
}